
.login-form {
  max-width: 50vw;
  color: grey;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 2.5rem;
  margin: 2.5rem auto;
  background-image: url('../../../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;

    &::placeholder {
      color: lightgrey;
      font-size: 0.9rem;
    }

    &:focus {
      box-shadow: 0 0 5px rgba(244, 67, 54, 1);
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(244, 67, 54, 1);
    }
  }

  input[type="password"] {
    font-family: Verdana, Tahoma, sans-serif;

    &::-webkit-input-placeholder {
      font-family: Avengeance;
    }

    &::-ms-input-placeholder {
      font-family: Avengeance;
    }
  }

  label {
    font-size: 0.9rem;
  }

  .image-form-holder {
    width: 15vw;
  }

  h4 {
    font-size: 1.2rem;
  }

}