button {
  border: transparent;
  border-radius: 3px;
  padding-top: 0.5rem;
  text-transform: uppercase;
  margin: 0.2vw;
  width: 100px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.submit-button {
  color: white;
  background-color: #f44336;
}

.signin-button {
  color: black;
  background-color: #9DC59D;
}
