.card {
    margin: 0.4rem;

    .card-text {
      color: gray;
    }

    a {
      color: #F44336;
      &:hover {
        text-decoration: none;
      }
    }

    p.card-text{
      font-size:0.95rem;
    }

    .link-wrapper {

      margin: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }