.search-bar {
    text-align: left;
    color: rgba(244, 67, 54, 1);
    position: relative;
    margin-bottom: 1rem;

    i {
        position: absolute;
        top: 0.5rem;
        left: 10rem;
    }

    input {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        background-color: transparent;
        border: none;
        border-bottom: 0.5px solid rgba(244, 67, 54, 1);
        font-size: 0.8rem;
        color:rgba(244, 67, 54, 1);

        &::placeholder {
            color: lightgrey;
            font-size: 0.8rem;
        }
    }
}