@font-face {
  font-family: "Avengeance";
  src: url('../assets/fonts/AVENGEANCE.ttf');
}
@import '../components/forms/loginForm.scss';
@import '../components/navigation/navigaton.scss';

body {
  font-family: Avengeance;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avengeance", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

.characters {
  font-family: Verdana, Tahoma, sans-serif;

  margin-top: 6rem;

  a {
    color: #F44336;

    &:hover {
      text-decoration: none;
    }
  }

  .link-wrapper {

    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h2 {
    font-size: 3rem;
  }

  .card {
    margin: 0.4rem;

    .card-text {
      color: gray;
    }
  }
}