@font-face {
  font-family: "Avengeance";
  src: url("../assets/fonts/AVENGEANCE.ttf");
}

body {
  font-family: Avengeance;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avengeance", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FAFAFA;
}

.login-form {
  max-width: 50vw;
  color: grey;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 2.5rem;
  margin: 2.5rem auto;
}

.login-form input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.login-form input::-webkit-input-placeholder {
  color: lightgrey;
  font-size: 0.9rem;
}

.login-form input:-ms-input-placeholder {
  color: lightgrey;
  font-size: 0.9rem;
}

.login-form input::-ms-input-placeholder {
  color: lightgrey;
  font-size: 0.9rem;
}

.login-form input::placeholder {
  color: lightgrey;
  font-size: 0.9rem;
}

.login-form input:focus {
  -webkit-box-shadow: 0 0 5px #f44336;
          box-shadow: 0 0 5px #f44336;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #f44336;
}

.login-form input[type="password"] {
  font-family: Verdana, Tahoma, sans-serif;
}

.login-form input[type="password"]::-webkit-input-placeholder {
  font-family: Avengeance;
}

.login-form input[type="password"]::-ms-input-placeholder {
  font-family: Avengeance;
}

.login-form label {
  font-size: 0.9rem;
}

.login-form .image-form-holder {
  width: 15vw;
}

.login-form h4 {
  font-size: 1.2rem;
}

.login-form button {
  border: transparent;
  border-radius: 3px;
  padding-top: 0.5rem;
  text-transform: uppercase;
  margin: 0.2vw;
  width: 100px;
  cursor: pointer;
}

.login-form .submit-button {
  color: white;
  background-color: #F44336;
}

.login-form .signin-button {
  color: black;
  background-color: #4CAF50;
}

.navbar-custom {
  background-color: #F44336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-custom img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-custom #dropdownMenuButton {
  background: none;
  border: none;
  outline: none;
  border: none;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  margin-right: 1rem;
}

.navbar-custom .dropdown-menu {
  min-width: 3rem;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
  background-color: #F44336;
}

.characters {
  font-family: Verdana, Tahoma, sans-serif;
  margin-top: 6rem;
}

.characters a {
  color: #F44336;
}

.characters a:hover {
  text-decoration: none;
}

.characters .link-wrapper {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characters h2 {
  font-size: 3rem;
}

.characters .card {
  margin: 0.4rem;
}

.characters .card .card-text {
  color: gray;
}
/*# sourceMappingURL=style.css.map */